<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>GHUB</title>
  <link href="//db.onlinewebfonts.com/c/15db490066f3892032387f14ef589970?family=Kamerik105W00-Bold" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/PL.png');"-->
<section class="">
  <h1 class="text-center text-3xl display-4 p-0" style="opacity: 1" >
    We speak your <br>language
  </h1>
  <img class="rounded mx-auto d-block" src="../assets/images/GameboyClear.png" style="width:50%;" alt="">
</section>
<section id="CustomSection"  class="d-flex justify-content-center mt-5 p-5" style="width: 100%;height: 100vh" >
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="../assets/images/Card1:2.png" style="width: 45%;z-index: 0;left: -1%;position: relative;border-radius: 30px" alt="">
        <img src="../assets/images/Card2:2.jpeg" style="width: 52%;z-index: 0;left: -35%;top:0%;position: relative;border-radius: 30px" alt="">

      </div>
      <div class="col-sm-6">
        <img src="../assets/images/MicroLogo.jpeg" style="border-radius: 30px;width: 15%" alt="">
        <h6 class="text-capitalize mt-4 mb-4">Clear Choice</h6>
        <h2 class="text-capitalize  mb-4">Custom App Development</h2>
        <p>
          Boost your efficiency,security and service with our custom blockchain development services and Smart Contracts .
        </p>
        <section style="display:inline-flex;width: 100%">
          <div style="float: left">
            <h2>65%</h2>
            <h6>DEVELOPMENT</h6>
            <hr style="height: 3px;background-color: blue;opacity:0.5;width: 185%">
          </div>
          <div style="margin-left:20%">
            <h2>35%</h2>
            <h6>UI/UX DESIGN</h6>
            <hr style="height: 3px;background-color: orangered;opacity:0.5;width: 110%">
          </div>
        </section>
          <button class="mt-4" style="background-color:#15c8ee;color:white;border-radius: 30px;padding: 2%;border:none;font-size: 13px;text-align: center;width: 30% ">
            <a href="#StandOutDiv" style="text-decoration: none;color: white">READ MORE</a></button>
      </div>
    </div>
  </div>
</section>
<section id="StandOutDiv" style="height: 100vh;padding-top:2%">
  <h1 class="text-center mb-3">What makes us stand out</h1>
  <p class="text-center font-xs">
    We provide app design and app development services <br> for every stage of your mobile project.
  </p>
  <div style="padding:5%;display: inline-flex;width: 100%;text-align: center">

    <div style="width: 33%">
      <img src="../assets/images/DiscoverLogo.png" alt="Discover" class="mb-3" style="border-radius: 50%">
      <h3>Discover</h3>
    </div>

    <div style="width: 33%">
      <img src="../assets/images/DesignLogo.png" alt="" class="mb-3" style="border-radius: 50%;">
      <h3>Design</h3>
    </div>
    <div style="width: 33%">
      <img src="../assets/images/DevelopLogo.png" alt="" class="mb-3" style="border-radius: 80%;">
      <h3>Develop</h3>
    </div>

  </div>
  <p class="text-center mb-5">
    Create an intuitive UX and UI to <br> keep the audience engaged .
  </p>
  <button class=" mx-auto d-block" style="background-color:#15c8ee;color:white;border-radius: 30px;padding: 1%;border:none;font-size: 13px;text-align: center;width: 10% ">
    <a href="#stats" style="text-decoration: none;color: white">LAUNCH</a></button>
</section>
<section id="stats">
  <h1 class="text-center">800+ Clients Served</h1>
  <img src="../assets/images/Footer.png" style="width: 100%" alt="">
</section>

</body>
</html>
